<ion-header>
  <ion-navbar>
    <ion-title>
      Updater
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="page" padding>

  <div *ngIf="state!='upToDate' && !isUpdateChecked && showUpdating">
    Checking updates... 
  </div>

  <div *ngIf="state=='old' && isUpdateChecked">
    New version: {{latestVersion}} Current version {{currentVersion}}
  </div>

  <button ion-button (click)="update()" full *ngIf="state=='old' && isUpdateChecked">
    Update
  </button>

  <div class="centered" *ngIf="state=='updating' && isUpdateChecked">
    <div class="lds-ring">
      <div> </div>
      <div></div>
      <div></div>
      <div></div>
    </div>
    <br />
    <div class="centered" >
        {{percent}}
    </div>
  </div>

  <div *ngIf="state=='upToDate' && isUpdateChecked">
    Up ot date!
  </div>

</ion-content>